.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(10%);
  border-radius: 10px;
  width: 70%;
  height: 85%;
  margin: 0 auto;
  background-color: rgba(215, 228, 219, 0.2); 
}

.card.mountain{
  background-color: rgba(139, 150, 187, 0.2);
}

.card-todos-wrapper {
  display: flex;
  justify-content: center;
  width: 65%;
  height: 70%;
  background-color: rgba(215, 228, 219, 0.3);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 5px;
  overflow-y: scroll;
}
.card-todos-wrapper.mountain {
  background-color: rgba(139, 150, 187, 0.3);
}
.card-ul {
  width: 95%;
}
li {
  list-style-type: none;
  margin: 5px;
}
